@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700|Source+Serif+Pro);

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * GENERAL
 */

body {
    font-family: 'Source-Sans-Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    background-color: #f2f2f2;
    margin: 0;
}

#container {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px 20px 50px 20px;
}


/*
 * CONTACT US
 */

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

p {
    font-family: 'Source-Serif-Pro', serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}


/*
 * GENERAL INFO
 */

fieldset {
    margin-top: 40px;
}

.subHead {
    font-family: 'Source-Sans-Pro', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}

fieldset > label {
    width: 100%;
}

label {
    vertical-align: middle;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
}

input[type="text"],
input[type="email"] {
    background-color: #f2f2f2;
    border-style: none;
    border-bottom: 1px solid #000000;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    outline: none;
}

input[placeholder] {
    font-family: 'Source-Serif-Pro', serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.radio > label,
.checkbox > label {
    font-family: 'Source-Serif-Pro', serif;
    font-weight: 400;
    display: block;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label span {
    display: inline-block;
    margin: 10px 10px 10px 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked + label span:before {
    content: "\2022";
    color: #000000;
    text-align: center;
    line-height: 18px;
    padding-left: 4px;
    font-size: 30px;
}

input[type="checkbox"] + label span {
    display: inline-block;
    margin: 5px 10px 5px 0;
    vertical-align: middle;
    line-height: 1;
    width: 25px;
    height: 25px;
    background: #f2f2f2;
    border: 2px solid #9ba4ab;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span:before {
    content: "\2022";
    color: #9ba4ab;
    text-align: center;
    line-height: 20px;
    padding-left: 5px;
    font-size: 30px;
}

label[for="discuss"],
label[for="offerings"] {
    display: inline-block;
    margin-bottom: 5px;
}

.problem {
    margin-top: 25px;
}


/*
 * PROJECT INFO
 */

#offerings5,
#budget5 {
    margin-bottom: 40px;
}

textarea {
    resize: none;
    background-color: #ffffff;
    border-style: none;
    min-height: 100px;
    padding: 10px;
    margin: 10px 0 20px 0;
    outline: none;
}


/*
 * SUBMIT
 */

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}

input[type="submit"] {
    font-family: 'Source-Sans-Pro', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 15px 40px 15px 40px;
    background: #f2f2f2;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Apply a natural box layout model to all elements, but allowing components to change
 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media only screen and (min-width: 1400px) {
    body {
        font-size: 1.5rem;
    }
    #container {
        max-width: 1400px;
        padding: 50px 185px 80px 185px;
    }
    h2 {
        font-size: 2.375rem;
    }
    p {
        font-size: 1.5rem;
    }
    fieldset {
        margin-top: 60px;
    }
    .subHead {
        font-size: 2.188rem;
    }
    fieldset > label {
        width: auto;
    }
    input[type="text"],
    input[type="email"] {
        padding: 20px 0 15px 0;
        margin-bottom: 40px;
    }
    input[placeholder] {
        font-size: 2.188rem;
    }
    .radio > label,
    .checkbox > label {
        display: inline;
        margin-right: 40px;
        font-size: 1.375rem;
    }
    .radio,
    .checkbox {
        margin: 20px 0 60px 0;
    }
    .fieldset2 {
        margin-top: 20px;
    }
    input[type="radio"]:checked + label span {
        line-height: 0;
    }
    input[type="radio"]:checked + label span:before {
        line-height: 18px;
    }
    textarea {
        min-height: 190px;
        margin: 20px 0 40px 0;
    }
    input[type="submit"] {
        font-size: 1.875rem;
    }
}
